.section2__container{
    padding-right: 9%;
    padding-left: 9%;
}

.section2__text_line {
    border-bottom: 3px solid #FF7757;
    width: 365px;
}

.section2__block_descr{
    display: flex;
}

.section2__text{
    text-align: end;
}

.section2__block_image{
    display: flex;
    flex-direction: column;
}

.section2__block_price{
    display: flex;
}

